body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* Стиль для заголовка */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Стиль для подзаголовка */
h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* Стиль для описания товара */
span {
  font-size: 18px;
  margin-left: 10px;
}

/* Стиль для кнопки */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Стиль для формы */
form {
  margin-top: 20px;
  text-align: center;
}
