<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{template.html :: head-navbar}"></div>
<div th:replace="~{template.html :: navbar}"></div><hr>

<body>

<h1 style="text-align: center">Поиск товаров по Самарской области</h1><hr>
<form method="get" action="/">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="searchCity">Город</label>
            <select id="searchCity" class="form-control">
                <option value="">Город не выбран</option>
                <option value="Самара">Самара</option>
                <option value="Тольятти">Тольятти</option>
                <option value="Сызрань">Сызрань</option>
            </select>
        </div>
        <div class="form-group col-md-10">
            <label for="searchWord">Поиск по объявлениям</label>
            <input type="text" name="searchWord" th:value="${searchWord}" class="form-control" id="searchWord">
        </div>
        <button style="width: 100%" type="submit" class="btn btn-dark">Поиск</button>
    </div>
</form>
<hr>
<div class="card-columns" >
    <div th:each="product : ${products}" th:if="${products}">
        <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">
            <div class="card text-white bg-dark my-3 product">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.title}">Title</h5>
                    <p class="card-text" th:text="${product.price} + ' ₽'">Price</p>
                </div>
                <div class="card-footer" th:text="${product.city}">City</div>
            </div>
        </a>
    </div>
    <h1 style="text-align: center" th:if="${#lists.isEmpty(products)}">Не найдено</h1>
</div>

</body>
</html>
