<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:replace="~{template.html :: head-navbar}"></div>
<div th:replace="~{template.html :: navbar}"></div><hr>

<body>
<hr>
<p><h1 style="text-align: center" th:text="${product.title} + ' | ' + ${product.price} + ' ₽'"></h1></p>
<p style="text-align: center" th:text="${product.description}"></p>

<hr>
<p style="text-align: center">
    <a th:href="@{/user/{id}(id=${authorProduct.id})}">
        <img th:src="@{/image/avatar.png}" alt="Avatar" width="32" height="32" class="rounded-circle" th:alt="${authorProduct.name}">
        <span th:text="${authorProduct.name}"></span>
    </a>
</p>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>