<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{template.html :: head-navbar}"></div>
<div th:replace="~{template.html :: navbar}"></div><hr>
<body>
<h1>Svarto books</h1>
<hr>
<div align="center">
    <h1>Регистрация пользователя</h1>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <label>Полное имя:</label>
        <input type="text" name="name" th:field="*{name}" />
        <label>День рождения (yyyy-mm-dd):</label>
        <input type="text" name="birthday" th:field="*{birthday}" />
        <label>E-mail:</label>
        <input type="email" name="email" th:field="*{email}" />
        <label>Пароль:</label>
        <input type="password" name="password" th:field="*{password}" />

        <input type="submit" value="Регистрация"/>
    </form>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>