<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{styles.css}" />
</head>
<body>
    <div align ="center">
        <h1>Регистрация пользователя</h1>
        <form action="#" th:action="@{/register_success}" method="post" th:object="${user}">
            <label>Полное имя:</label>
            <input type="text" th:field="*{name}" />
            <label>День рождения (yyyy-mm-dd):</label>
            <input type="text" th:field="*{birthday}" />
            <label>E-mail:</label>
            <input type="text" th:field="*{email}" />
            <label>Пароль:</label>
            <input type="password" th:field="*{password}" />

            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>